@import url("https://fonts.cdnfonts.com/css/satoshi");


@font-face {
  font-family: "Dela Gothic One";
  src: url("../assets/fonts/DelaGothicOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/fonts/SF-Pro-Text-Regular.ttf") fromat("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
