.header {
  position: absolute;
  top: 34px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 1;
  .navigation {
    border: 1px solid black;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px 90px;
    display: flex;
    align-items: center;
    .ul {
      display: flex;
      flex-direction: row;
      gap: 50px;
      cursor: pointer;
      font-size: 17px;
      color: #09101e;
      font-family: "SF Pro Text", sans-serif;

      .li {
        list-style-type: none;
      }
      a {
        transition: color 0.5s ease;
        &:hover {
          color: #ffffff;
        }
      }
    }
  }
}
