.introBlock {
  margin: 120px;

  .h2Title {
    font-family: "Dela Gothic One", sans-serif;
    font-size: 40px;
    margin-bottom: 32px;
  }

  .twoColumns {
    display: flex;
    gap: 64px;
    align-items: flex-start;

    .leftColumn {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 430px;
      .introText {
        margin-top: 32px;
        font-family: "satoshi", serif;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0%;
        color: #09101e;
      }
      .forecastButton {
        font-family: "satoshi", serif;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0%;
        border: 1px solid white;
        border-radius: 100px;
        background-color: #00bab9;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 12px 24px;
        cursor: pointer;
        transition: background-color 0.5s ease;
        align-self: flex-start;
        width: fit-content;

        &:hover {
          background-color: #00a885;
        }
        &:active {
          background-color: #005454;
          transform: scale(0.97);
        }

        .butImg {
          width: 24px;
          height: 24px;
          flex-shrink: 0;
        }
      }
    }

    img {
      margin-top: 32px;
      height: 400px;
      object-fit: cover;
    }
  }
}
